.navbar{
    display: inline-block;

}
.navbar li{
    display: inline-block;
}
.navbar li a{
    color: aliceblue;
    text-decoration: none;
    padding: 23px 10px;
}
.left img{
    width: 70px;
}
.btn{
    cursor: pointer;
}